/*<meta />*/

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');


/*Created by Justin Bondoc*/
body
{
	font-family: 'Raleway', 'Roboto', sans-serif;
	line-height: 1.5em;
	margin: 0;
	color: #575757;
}

h1
{
	font-family:  'Raleway','Roboto', sans-serif;
	font-size: 2.75em;
	color: #000;
	font-weight: 900;
	line-height: 1;
}

h2
{
	font-size: 1.6785em;
}

.bold
{
	font-weight: bold;
}
.center
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	float: none !important;
	text-align: center;
}

:target:before { 
content:"";
display:block;
height:150px; 
margin:-150px 0 0; 
}


p
{
	color: #575757;
	margin-bottom: 8px;
	margin-top: 8px;
}

p.about-title
{
	font-weight: bold;
	color: #000;
	margin-top: 40px;
}

p.about
{
	color: #575757;
}


p.profile
{
	text-align: center;
}

p.profile-name
{
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}


img
{
		max-width: 100%;
}

img.logo
{
	max-width: 65%;
}

img.profile
{
	overflow: hidden;
	max-width: 50%;
}


/*==Buttons==*/

a:visited
{
	color: #000;
}

a:link
{
	color: #000;
}



a.hero-btn
{
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	border-radius: 4px;
	border: 1px solid #FFF;
	padding: 10px 11px;
	margin-top: 40px;
}

a.hero-btn:hover
{
	background-color: #dadada;
}


a.page-btn
{
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	background-color: #ff7979;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	border-radius: 4px;
	padding: 10px 11px;
	margin-top: 10px;
}

a.page-btn:hover
{
	background-color: #ed2a2a;
}


a.appt-btn
{
	display: inline-block;
	text-decoration: none;
	color: #FFF;
	border-radius: 4px;
	width: 100%;
	padding: 10px 0;
	margin: 0;
	background-color: #658baf;
	border: 1px solid #658baf;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
}

a.appt-btn:hover
{
	background-color: #22609b;
	border: 1px solid #22609b;
}

a.appt-btn-nul
{
	display: inline-block;
	border: 1px solid #dadada;
	color: #dadada;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	padding: 10px 0px;
	width: 100%;
}


/*== Navigation ==*/
.top-bar
{
	transition: 0.5s all;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	color: #fff;
}

.navScroll
{
	background-color: #fff;
	border-bottom: 1px solid #d3d3d3;
}


.top-bar a
{
	color: #fff; 
	padding: 10px;
	margin: 0 2px;
	display: inline-block;
	text-decoration: none;
}

.top-bar a:hover
{
	color: #575757;
}

.navScroll a
{
	color: #575757;
	text-decoration: none;
}

.top-bar ul {
    background-color: transparent;
    padding: 10px 0;
    margin: 0 auto;
}

.top-bar li {
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	display: inline-block;
}

.top-bar ul li:hover{
	background-color: #eaeaea;
    border-radius: 4px;
    color: #575757;
}

/*== Layout ==*/

.section
{
	padding: 2% 0 5%;

}

.layout
{
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
}

/*== Page Hero ==*/

div.page-hero
{
	padding-bottom: 150px;
	padding-top: 250px;
	background-color: #d3d3d3;
	background-image: url('../Images/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center 0;
	margin-top: -100px;
}

.accent /*Gradient used under the Home-Page hero*/
{
	background: linear-gradient(to right, #e9402f, #006db1);
    height: 4px;
}



/*==About Section==*/

div.about
{
	background-color: #fff;
}


div.about-grid	
{
	margin-left: auto;
	margin-right: auto;
}

div.about-grid::before
{
	content: ' ';
	display: table;
}

div.about-grid::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.about-grid > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.about-grid > div:nth-child(1)
{
	width: 65%;
	margin-right: 5%;
}

div.about-grid > div:nth-child(2)
{
	width: 25%;
	margin-left: 5%;
}

div.about-grid iframe
{
	max-width:100%;
	max-height:100%;
}

/*==Profile Tiles section==*/

div.profile
{
	background-color: #d4d4d4;
	background-image: url('../Images/banner-2.png');
	background-size: cover;
	background-repeat: no-repeat;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center 0;
	padding: 50px;
}
div.profile > h1
{
	color: #fff;
}

div.profile-tiles	
{
	margin-left: auto;
	margin-right: auto;
}

div.profile-tiles::before
{
	content: ' ';
	display: table;
}

div.profile-tiles::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.profile-tiles > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	margin: 2% auto;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.profile-tiles > div:hover
{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

div.profile-tiles > div:nth-child(1)
{
	width: 17%;
	margin-left: 23.5%;
}

div.profile-tiles > div:nth-child(2)
{
	width: 17%;
	margin-left: 1%;
}

div.profile-tiles > div:nth-child(3)
{
	width: 17%;
	margin-left: 1%;
}
/*profile-tiles-2 can be used for when there are 2 tiles needed instead of 3*/
/*
div.profile-tiles-2	
{
	margin-left: auto;
	margin-right: auto;
}

div.profile-tiles-2::before
{
	content: ' ';
	display: table;
}

div.profile-tiles-2::after
{
	content: ' ';
	display: table;
	clear: both;
}


div.profile-tiles-2 > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
	background-size: cover;
	background-position: center;
	margin: 2% auto;
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	padding: 10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.profile-tiles-2 > div:hover
{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

div.profile-tiles-2 > div:nth-child(1)
{
	width: 17%;
	margin-left: 32.5%;
}

div.profile-tiles-2 > div:nth-child(2)
{
	width: 17%;
	margin-left: 1%;
}*/

div.profile-tiles-layout
{
	margin-left: auto;
	margin-right: auto;
}

div.profile-tiles-layout::before
{
	content: ' ';
	display: table;
}

div.profile-tiles-layout::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.profile-tiles-layout > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.profile-tiles-layout > div:nth-child(1)
{
	width: 100%;
}

div.profile-tiles-layout > div:nth-child(2)
{
	width: 100%;
	border-bottom: 1px solid #dadada;
	margin-bottom: 10px;
}


/*== Footer==*/

div.footer
{
	background-color: #202e3c;
}

div.footer a
{
	text-decoration: none;
	color: #DADADA;
}

div.footer p
{
	font-size: 0.8em;
}

div.footer-grid	
{
	margin-left: auto;
	margin-right: auto;
	width: 55%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #202e3c;
}

div.footer-grid::before
{
	content: ' ';
	display: table;
}

div.footer-grid::after
{
	content: ' ';
	display: table;
	clear: both;
}

div.footer-grid > div
{
	float: left;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

div.footer-grid > div:nth-child(1)
{
	width: 50%;
	margin-left: 0%;
}

div.footer-grid > div:nth-child(2)
{
	width: 50%;
	margin-left: 0%;
	border-left: 1px solid #d3d3d3;
	padding-left: 20px;
}

div.footer p
{
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
}

div.jb
{
	background-color: #192835;
	font-size: 0.8em;
	font-family: 'Roboto', Arial, sans-serif;
	text-transform: uppercase;
}

div.jb a
{
	color: #575757;
}
div.jb a:visited
{
	color: #575757;
}

@media only screen and (max-width: 1279px)
{

	div.profile-tiles > div:nth-child(1)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.profile-tiles > div:nth-child(2)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.profile-tiles > div:nth-child(3)
	{
		width: 32%;
		margin-left: 1%;
	}

	div.profile-tiles-2 > div:nth-child(1)
	{
		width: 32%;
		margin-left: 17.5%;
	}

	div.profile-tiles-2 > div:nth-child(2)
	{
		width: 32%;
		margin-left: 1%;
}

	div.footer
	{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	div.footer-grid > div:nth-child(1)
	{
		width: 50%;
		margin-left: 0%;
	}

	div.footer-grid > div:nth-child(2)
	{
		width: 50%;
		margin-left: 0%;
	}

}

@media only screen and (max-width: 767px)
{
	
	p.about-title
	{
		margin-top: 20px;
	}
	
	img.profile
	{
		max-width: 75%;
	}
	
	img.logo
	{
		max-width: 95%;
	}

	div.about
	{
		width: 95%
	}

	div.about-grid > div
	{
		text-align: center;
	}

	div.about-grid > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		margin-top: 5%;
	}

	div.about-grid > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
		text-align: center;
	}

	div.about-grid > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0%;
		margin-bottom: 10%;
	}

	div.profile-tiles > div
	{
		margin-top: 2%;
	}

	div.profile-tiles > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0;
	}

	div.profile-tiles > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0;
	}

	div.profile-tiles > div:nth-child(3)
	{
		width: 100%;
		margin-left: 0;
	}

	div.profile-tiles-2 > div:nth-child(1)
	{
		width: 100%;
		margin-left: 0;
	}

	div.profile-tiles-2 > div:nth-child(2)
	{
		width: 100%;
		margin-left: 0;
	}
	div.profile-tiles-layout > div:nth-child(1)
	{
		width: 40%;
	}

	div.profile-tiles-layout > div:nth-child(2)
	{
		width: 60%;
		margin: 0;
		border: none;
	}


	div.footer
	{
		text-align: center;
	}

	div.footer-grid > div:nth-child(1)
	{
		width: 100%;

	}

	div.footer-grid > div:nth-child(2)
	{
		width: 100%;
		border: none;
	}
}